.main {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.bottom {
  padding: 1rem 5rem 4.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr 1fr;
}

.errorBoundaryCheck {
  align-self: center;
  justify-self: center;
}

.bottom__content {
  display: flex;
}

.bottom__content_left {
  width: 50vw;
  padding-right: 2rem;
  cursor: pointer;
}

.bottom__content_wide {
  width: 100%;
}

.bottom__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
