.flyout {
  position: fixed;

  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #cccccc;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flyout__count {
  margin: 0;
}

.flyout__button {
  margin-left: 10px;
}
