.search {
  padding: 2rem;
  background-color: #4d4f77;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.searchInput {
  width: 20rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #cbcbfa;
  outline: none;
}
