:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-light: #dedff1;
  --bg-dark: #242446;

  --bg-top-light: #9697b6;
  --bg-top-dark: #454669;

  --text-light: #213547;
  --text-dark: #cccccc;

  --button-light: #7779a5;
  --button-dark: #8183b1;

  --button-hover-light: #989bd5;
  --button-hover-dark: #454872;

  --input-light: #d7d7e7;
}

* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  width: 14rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all ease 0.5s;
}

button.light {
  background-color: var(--button-light);
  color: var(--text-light);
}

button.dark {
  background-color: var(--button-dark);
  color: var(--text-dark);
}

button:hover.light {
  background-color: var(--button-hover-light);
}

button:hover.dark {
  background-color: var(--button-hover-dark);
}

.search {
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.search.light {
  background-color: var(--bg-top-light);
}

.search.dark {
  background-color: var(--bg-top-dark);
}

input[type="search"] {
  width: 20rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  outline: none;
  background-color: var(--input-light);
}

.bottom.light {
  background-color: var(--bg-light);
  color: var(--text-light);
}

.bottom.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}
