.homePage {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.bottom {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7fr 1fr;
  background-color: #dedff1;
}
