.notFound {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  color: #213547;
}

.notFound__404 {
  font-size: 4rem;
}

.notFound__title {
  font-weight: bolder;
  font-size: 1.3rem;
}
